{% extends "base.html" %}

{% block content %}

<form method="POST" action="/signup" class="p-3">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control", type="password") }}
    </div>
    <div class="mb-3">
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(class="form-control", type="password") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}